#Aho-sendbox {
    box-sizing: content-box;
    text-align: left;
    padding-top: 10px;
    background-color: white;
    width: 100%;
    height: 25%;
}
#Aho-commentbox {
  box-sizing: content-box;
  overflow: auto;
  background-color: white;
  border-top-style: groove;
  border-top-width: 1px;
  border-top-width: #888888;
  width: 100%;
  height: 75%;
}
.Aho-textarea {
  width:  94%;
  height:60%;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  border-style: groove;
  border-color: #e5e9ef;
  border-width: 1px;
  outline:none;
  font-size: 24px;
  overflow-y: auto;
}
.Aho-textarea p {
  margin-top: 3px;
  margin-bottom: 3px;
  font-size: 24px;
}
.Aho-textarea:focus {
  border-width: 1px;
  border-color: blue;
}
.Aho-textarea:hover {
  border-width: 1px;
  border-color: blue;
}
.Aho-textarea-baffle {
  background-color: #e5e9ef;
  cursor: default;
  width:  94%;
  height:60%;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  border-style: groove;
  border-color: #e5e9ef;
  border-width: 1px;
  outline:none;
  font-size: 24px;
  overflow-y: auto;
}
.Aho-btn-send {
  cursor: pointer;
  color: white;
  background-color: #337ab7;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
  border-style: none;
  border-radius: 3px;
  box-shadow: 0.5px 1px #888888;
  float: right;
  margin-top: 20px;
  margin-right: 3%;
}
.Aho-sendbtn-forbidden{
  cursor: auto;
  color: #777777;
  background-color: #e5e9ef;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
  border-style: none;
  border-radius: 3px;
  box-shadow: 0.5px 1px #888888;
  float: right;
  margin-top: 20px;
  margin-right: 3%;
}
.Aho-btn-send:hover{
  background-color:#286090;
}
#Aho-sidebtn{
  box-sizing: content-box;
  height: 100px;
  padding-top: 40px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-right-style: groove;
  border-right-color: #888888;
  border-right-width:1px;
  border-top-style: groove;
  border-top-color: #888888;
  border-top-width:1px;
  border-bottom-style: groove;
  border-bottom-color: #888888;
  border-bottom-width:1px;

}
#Aho-sideview{
  border-right-style: groove;
  border-right-color: #888888;
  border-right-width:1px;
}
.Aho-comment {
    text-align: left;
    overflow: hidden;
    display: -webkit-inline-box;
    min-height: 100px;
    width: 100%;
    border-color: white;
    border-bottom-style: groove;
    border-bottom-width: 1px;
    border-top-color: #888888;
}
.Aho-comment p {
  margin-top: 0px;
}
.Aho-profileimg {
    text-align: center;
    height: 100px;
    width: 20%;
    padding-left: 5px;
    padding-top: 10px;
    background-color: white;
}
.Aho-comment-vote {
    padding-top: 5px;
    width: 18%;
    height: 100px;
    text-align: -webkit-center;
    background-color: white;
}

.Aho-comment-context {
    padding-left: 3px;
    height: 100px;
    width: 60%;
    background-color: white;
}
p.Aho-username-p {
    color: black;
    overflow: hidden;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}
p.Aho-comment-p {
    color: black;
    overflow: hidden;
    font-size: 15px;
}
img.Aho-votebtn {
    width: 35px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
p.Aho-likenumber {
    color: #636363;
    margin-bottom: 0;
    font-size: 25px;
}

p.Aho-warning-text {
    padding-top: 10px;
    font-size: 30px;
    text-align: -webkit-center;
}
.Aho-like {
  width: 0px;
  height: 0px;
  border-top: 32px solid transparent;
  border-bottom: 32px solid transparent;
  border-left:55.36px solid yellow;
}
.Aho-unlike {
  cursor: pointer;
  width: 0px;
  height: 0px;
  border-right: 15px solid transparent;
  border-top: 15px solid #c9cbcf;
  border-left: 15px solid transparent;
  border-bottom-width: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.Aho-like {
  cursor: pointer;
  width: 0px;
  height: 0px;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #c9cbcf;
  border-left: 15px solid transparent;
  border-top-width: 0px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.Aho-liked {
  border-bottom: 15px solid #9999ff;
}
.Aho-unliked {
  border-top: 15px solid #9999ff;
}
.Aho-username {
    height: 35%;
    overflow: hidden;
}
.Aho-forbidden{
  margin-top: 5px;
  font-size: 25px;
  font-style: normal;
  color: #777777;
}
